header{
    background-color: blueviolet;
}

.fa-search{
    color: burlywood;
}

.fa-search:hover{
    transform: scale(1.2,1.2);
    transition: transform 1s;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.title{
    display: flex;
    justify-content: center;
}

.logo:hover{
    transform: scale(1.2,1.2);
    transition: transform 1s;
}

.searchbar{
    width: 95%;
    margin: 20px 0px 20px 20px;
}

nav{
    background-color: blueviolet;
}

ul,li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.reegan{
    display: flex;
    justify-content: center;
    padding-left: 150px;
}

.robert{
    display: flex;
    justify-content: center;
    padding-left: 560px;
}

.cupcakes{
    margin: 50px;
    align-items: center;
}

h1{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

p{
    font-family: Arial, Helvetica, sans-serif;
   margin: 20px;
   font-size: large;
}

a:hover {
    color: black;
    background-color:burlywood;
}

#navtab{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 16pt;
}

footer{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.copyright{
    color: black;
    padding: 5px;
}

.credit{
    color: black;
    padding: 5px;
}

.biography{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 50%;
   padding-left: 130px;
}

h3{
    padding-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.biography2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 50%;
    padding-left: 540px;
}

h4{
padding-left: 150px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline;
padding-left: 560px;
}

h2{
padding-left: 130px;
font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin: 20px;
}

.aboutp{
    padding-left: 130px;
    font-family: Arial, Helvetica, sans-serif;
}

.h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}