header{
    background-color: blueviolet;
}
/* seach icon */
.fa-search{
    color: burlywood;
}
/* search icon animation */
.fa-search:hover{
    transform: scale(1.2,1.2);
    transition: transform 1s;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.title{
    display: flex;
    justify-content: center;
}
/* logo animation */
.logo:hover{
    transform: rotateY(2turn) scale(1.2,1.2);
    transition: transform 3s;
}

.searchbar{
    width: 95%;
    margin: 20px 0px 20px 20px;
}

nav{
    background-color: blueviolet;
}

ul,li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
/* adds images positions */
.reegan{
    display: flex;
    justify-content: center; 
    padding: 5px;
    border-radius: 15px;
}

.robert{
    display: flex;
   justify-content: center;
   padding-right: 5px;
   border-radius: 15px;
}

.noah{
    display: flex;
    justify-content: center;
    padding-left: 5px;
    border-radius: 15px;
}

.cupcakes{
    margin: 50px;
    align-items: center;
}

h1{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: blueviolet; padding-left: 10px;
}

h1:hover{
    background-color: blueviolet;
    color: black;
    transform: scale(1.05,1.05);
    transition: transform 1.5s;
}


p{
    font-family: Arial, Helvetica, sans-serif;
   margin: 20px;
   font-size: large;
   padding-left: 10px;
}

a:hover {
    color: black;
    background-color:burlywood;
}

#navtab{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 16pt;
}

footer{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center :bottom;
}

.copyright{
    color: black;
    padding: 5px;
}

.credit{
    color: black;
    padding: 5px;
}
/* adds paragraph placement */
.biography{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 55%;
 float: left;
}

h3{
  
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: blueviolet;
    padding-left: 10px ;

}
/* adds hover to names */
h3:hover{
    color: black;
    transform: scale(1.1,1.1);
    transition: transform 1.5s;
}

/* adds paragraph placement */
.biography2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 55%;
    float: right;
}
.biography3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 70%;
}

h4{
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline;
color: blueviolet;

}
/* adds hover to names */
h4:hover{
 
    color: black;
    transform: scale(1.1,1.1);
    transition: transform 1.5s;
}

h2{
padding-left: 110px;
font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin: 20px;
    color: blueviolet;
}

h2:hover{
    background-color: blueviolet;
    color: black;
    transform: scale(1.1,1.1);
    transition: transform 1.5s;
}

/* adds paragraph placement */
.aboutp{
    padding-left: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

/* sets width for menulist */

.menulist{
    padding-left: 50px;
}

/* adds style to prices */
h5{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    font-size: large;
    color: blueviolet;
    }
    h5:hover{
        background-color: blueviolet;
        color: black;
        transform: scale(1.1,1.1);
        transition: transform 1.5s;
    }
    /* adds style to options */
    .options{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color:blueviolet;

    }

    h6{
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        font-size: large;
        padding-left: 30px;
        color: blueviolet;
    }
    h6:hover{
        background-color: blueviolet;
        color: black;
        transform: scale(1.1,1.1);
        transition: transform 1.5s;
    }

    /* fixes bakery images */

    .bakery1{
        border: solid burlywood 3px;
        border-radius: 15px;
    }

    .bakery2{
        border: solid burlywood 3px;
        border-radius: 15px;
    }

    .cupcake{
        border: solid burlywood 3px;
    }
/* adds detail to button */
    .btn{
        color: red;
        background-color: blueviolet;
        height: 60px;
        width: 100px ;  
        font-size: larger;
        margin: 20px 20px 20px 50px;
        border: solid red 3px;
        border-radius: 15px;
  }
/* adds detail to BUY button while hovering */
  .btn:hover{
    opacity: 80%;
  }
/* adds detail to images */
  .menupics{
    border-radius: 15px;
  }
  
  .divider{
display: flex; 
}

.aboutcompany{
position: relative;
}